<form class="bg-white rounded px-8 pt-6 pb-8 mb-4">
  <div class="mb-4">
    <label class="block text-sm font-bold mb-2" for="email">Email</label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="email"
      type="email"
      placeholder="example@example.com"
      [formControl]="email"
    />
  </div>
  <div class="mb-4">
    <label class="block text-sm font-bold mb-2" for="password">Password</label>
    <input
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      id="password"
      type="password"
      placeholder="**********"
      [formControl]="password"
    />
  </div>
  <div class="flex items-center justify-between">
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
      type="submit"
      (click)="loginWithGoogle()"
    >
      Login
    </button>
  </div>
</form>
